<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon_type.name %>
</p>

<%= link_to 'Edit', edit_pokemon_type_path(@pokemon_type) %> |
<%= link_to 'Back', pokemon_types_path %>
